<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ERP : Mohamed, Emilie, Jordan, Quentin</title>
  </head>
  <body>
    <h1>Gestion des projets</h1>
    <form id="projectForm">
      Nom de l'entreprise :<br>
      <input type="text" name="client"><br>
      Date de début :<br>
      <input type="date" name="dateStart"><br>
      Date de livraison :<br>
      <input type="date" name="shipment"><br>
      <button id="createProject" onclick="addProject()">créer</button>
    </form> 
  </body>
  <script type="text/javascript" src="../js/projects.js"></script>
</html>